html {
  font-size:  24.5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 980px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 980px;
}

nav {
  max-width: 980px;
  width: 95%;
  
}

nav > button {
  width: 17%;
  font-size: min(2vmax, 24.5px);
}

#title {
  width: 95%;
  text-align: center;
}

.inputContainer {
  display: flex;
  width: 95%;
}

.answer {
  width: 95%;
  height: min(5vw, 49px);
  visibility: hidden;
  color: red;
}

#container {
  width: 100%;
}

#control {
  width: 95%;
}

#deleteAll {
  font-size: 2rem;
}

input[type="text"] {
  display: inline-block;
  width: calc(100% - min(5vw, 49px) - 10px);
  height: min(5vw, 49px);
  font-size: min(2.5vw, 24.5px);
  margin-right: 10px;
}

.problem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 95%;
  margin-bottom: min(1vw, 9.8px);
}

.wrong > .answer {
  visibility: visible;
}

#next {
  float: right;
}

.inputContainer>i {
  margin-top: calc((min(5vw, 49px) - 1rem) / 2);
  font-size: 1rem;
}

.correct input[type="text"] {
  border : green solid 2px;
}

.wrong input[type="text"] {
  border : red solid 2px;
}

.correct i, .wrong i {
  margin-top: calc((min(5vw, 49px) - 1rem) / 2 + 1px);
}

#submit {
  margin-left: calc(50% - 3.5rem);
}


@media screen and (max-width: 980px) {
  #title {
    font-size: min(3vmax, 49px);
  }
  nav {
    margin-top: 1vh;
    height: 10vh;
    
  }

  nav>button {
    padding-left: 2%;
    padding-right: 2%;
    width: 25%;
    height: 4vh;
  }
  #control>button {
    padding-left: 2%;
    padding-right: 2%;
    width: 25%;
    height: 4vh;
  }

  html {
    font-size: 2.5vh;
  }

  .inputContainer>i {
    margin-top: calc((4vh - 1rem) / 2);
  }

  input[type="text"] {
    width: calc(100% - 4vh - 10px);
    height: 4vh;
    font-size: 1rem;
    margin-right: 10px;
  }

  .problem {
    margin-bottom: 3vh;
  }

  .item {
    margin-bottom: min(1.5vw, 9.8px);
    font-size: 1rem;
  }

  #container {
    margin-bottom: 10vh;
  }

  #deleteAll {
    margin-left : 10%;
  }

  #next {
    margin-right : 10%;
  }

  #submit {
    margin-left: calc(50% - 3.5rem - 10%);
  }
}











