html {
  font-size:  24.5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 980px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 980px;
}

nav {
  max-width: 980px;
  width: 95%;
  
}

nav > button {
  width: 17%;
  font-size: min(2vmax, 24.5px);
}

#title {
  width: 95%;
  text-align: center;
}

.inputContainer {
  display: flex;
  width: 95%;
}

.inputContainer>div {
  width: min(5vw, 49px);
  height: min(5vw, 49px);
  border: black solid;
  display: inline-block;
}

.answer {
  width: 95%;
  height: min(5vw, 49px);
  visibility: hidden;
  color: red;
}

#container {
  width: 100%;
}

#control {
  width: 95%;
}

#control > button {
  width: 15%;
  font-size: min(2vmax, 24.5px);
}

input[type="text"] {
  display: inline-block;
  width: calc(100% - min(5vw, 49px));
  height: min(5vw, 49px);
  font-size: min(2.5vw, 24.5px);
}

.problem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 95%;
  margin-bottom: min(1vw, 9.8px);
}

.wrong > .answer {
  visibility: visible;
}

#next {
  float: right;
}


@media screen and (max-width: 980px) {
  #title {
    font-size: min(3vmax, 49px);
  }
  nav {
    margin-top: 1vh;
    height: 10vh;
    
  }

  nav>button {
    padding-left: 2%;
    padding-right: 2%;
    width: 25%;
    height: 4vh;
  }
  #control>button {
    padding-left: 2%;
    padding-right: 2%;
    width: 25%;
    height: 4vh;
  }

  html {
    font-size: 2.5vh;
  }

  .inputContainer>div {
    width: 4vh;
    height: 4vh;
    border: black solid;
    display: inline-block;
  }


  input[type="text"] {
    width: calc(100% - 4vh);
    height: 4vh;
    font-size: 1rem;
  }

  .problem {
    margin-bottom: 3vh;
  }

  .item {
    margin-bottom: min(1.5vw, 9.8px);
    font-size: 1rem;
  }

  #container {
    margin-bottom: 10vh;
  }
}









